# IDEs
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.swc

# Dependency directories
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js build output
.next
out

# Turbo
.turbo

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Generate output
dist
build/

# Storybook
*storybook.log
storybook-static
